<div ng-controller="HomeController as vm" class="publicImage">
	<div id="backgroundcolorpublic">
		<!--HEADER...........................................................................................f-->

		<nav id="publicnavbar" class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="headerpublic"><h2 id="headerbodypublic">Your Botle_Wall</h2></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a ng-controller="addBotleController as vm" id="newbotlepublic" ui-sref="Botle">| +New Botle |</a></li>
						<li><a id="backtoprofile3" ui-sref="Profile"> Profile ></a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!--................................................................BLOG BOX.....................................................................................-->
		<a id="topic"> 2016 Best Brands</a>
		<!-- {{vm.botles}} -->
		<div ng-controller="profileController as vm" class="flex-container">
			<div ng-repeat="b in vm.botle"  class="task-col"> <!--this line says that it will loop through all the properties in vm.comments-->
				<div class="well">
					<h3 class="textCenter">{{b.brand}}</h3>
					<img src="{{b.img}}"/>
					<h3 class="textCenter">{{b.desc}}</h3>
					<button ng-click="vm.deleteBotle(b)" class="btn btn-danger">DELETE</button><br><br>
    			</div>
				</div>
			</div>
		</div>
	</div>
</div>
